
<h1 style="color: white; text-align: center;">My Profile</h1>
<%= image_tag current_devise_user.avatar.url(:medium) %>
<p style="text-align:center;">

</p>
<table align="center" border='1px solid black;'>

	<tr style="font-size: 30px;">
	<td>Name:</td>
	<td> <%= current_devise_user.nickname %></td>
	</tr>

	<tr style="font-size: 30px;">
	<td>Gender:</td>
	<td> <%= current_devise_user.gender%></td>
	</tr>

	<tr style="font-size: 30px;">
	<td>Age:</td>
	<td> <%= current_devise_user.age %></td>
	</tr>

	<tr style="font-size: 30px;">
	<td>City:</td>
	<td> <%= current_devise_user.city %></td>
	</tr>

	<tr style="font-size: 30px;">
	<td>Description:</td>
	<td> <%= current_devise_user.description %></td>
	</tr>

</table> 
