<h1 style="color: white; text-align: center;">Finding matches near you...</h1>


<!--
<% @others = User.all %>
<% @list = [] %>
<% @gender = [] %>

<%  for u in @others do 
	 @list.push(u.nickname) 
	 @gender.push(u.gender)


end 
%>
<%= for x in @list do  end %>
<br/>
<%= for x in @gender do  end %>
<br/>

<%= User.first.nickname %>
<br/>
-->


<% @users.each do |u| %>
	<h1 style="color: white; text-align: center;"><%= u.nickname %> </h1>
	<%= u.gender %>
	<%= u.age %>
	<%= u.city %>
	<p style="color: white; text-align: center;">Description</p>
	<%= u.descriptions %>
	<%= u.gender %>
<% end %>