<div class="contain">

<h1 style="color: white; text-align: center;"> Potential Matches </h1>


<!--
<% @others = User.all %>
<% @list = [] %>
<% @gender = [] %>

<%  for u in @others do 
	 @list.push(u.nickname) 
	 @gender.push(u.gender)


end 
%>
<%= for x in @list do  end %>
<br/>
<%= for x in @gender do  end %>
<br/>

<%= User.first.nickname %>
<br/>
-->


<% @users.each do |u| %>
	<div class="userlist">

	<h1 style="color: white; text-align: center;"><%= u.nickname %> </h1>
	<p style="color: white; text-align: center;">
	
	<%if u.avatar_file_name.blank? %>
		<%= image_tag "no_user_image.png", size: "100x100"%>
	<%else%>
		<%= image_tag u.avatar.url(:medium) %>
	<% end %>
	<br/>
	<%= u.gender %>
	<%= u.age %>
	<%= u.city %>
	</p>
	<p style="color: white; text-align: center;">Description:
	<br/>
	<%= u.descriptions %>
	</p>
	<br />
	</div>

<% end %>

</div>