<h1 style="color: white; text-align: center;">Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p style="color: white; text-align: center;">
    <%= f.label :nickname %><br/>
    <%= f.text_field :nickname %>
  </p>
  <p style="color: white; text-align: center;">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </p>
  <p style="color: white; text-align: center;">
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
  </p>
  <p style="color: white; text-align: center;">
    <%= f.label :password_confirmation %> <br/>
    <%= f.password_field :password_confirmation %>
  </p>
  <p style="color: white; text-align: center;">
    <%= f.label :age %><br/>
    <%= f.text_field :age %>
  </p>
  <p style="color: white; text-align: center;">
    <%= f.label :gender %><br/>
    <%= f.text_field :gender %>
  </p>
  <p style="color: white; text-align: center;">
    <%= f.label :city %><br/>
    <%= f.text_field :city %>
  </p>
  <p style="color: white; text-align: center;">
    <%= f.label :descriptions %><br/>
    <%= f.text_field :descriptions %>
  </p>
  <p class="button" style=" text-align: center;"><%= f.submit %></p>
<% end %>