<!DOCTYPE html>
<html>
  <head>
    <title>Cmpt276</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "users" %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>

  <body>


    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
